@import 'colors';

table {
  width: 100%;
  margin-top: 2rem;
  counter-reset: paycheck;
}

td, th {
  width: 25%;
  text-align: left;
  padding: 0.6rem;
}

.paycheck:after {
  counter-increment: paycheck;
  content: counter(paycheck);
}